// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #ffffff !default;
$body-color: #000000 !default;
$link-color: #bf0000 !default;
$selection-bg: #380006;
$title-color: #000000 !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #000000 !default;

/*-- scss:rules --*/

.navbar {
  background-color: black;
}

h2 {
  color: #000000;
}
h3 {
  color: #000000;
}
h4 {
  color: #000000;
}

.reveal a {
  line-height: 1.3em;
}

// title color
.title {
  color: $title-color;
}

